<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US"><head>

<title>About <tmpl_var escape=html krang_product_name></title>

<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

<style type="text/css"><!--
body  { background: #FFF; color: #000; margin: 0; padding: 0; font: 11px/1 "Helvetica Neue",arial,helvetica,sans-serif; }
h1    { background: #FFF url("/images/bkg-logo.jpg") no-repeat; color: #000; margin: 0; padding: 0 0 0 12px; font-size: 1em; }
h2, h3, p, ul { margin: 20px 20px 0; }
h2, h3 { background: inherit; color: #369; font-weight: normal; font-family: Georgia,serif; text-transform: uppercase; }
p, ul { margin-top: 0; line-height: 1.5; }
h2 { border-bottom: thin solid #CEE7FF; font-size: 2.72em; letter-spacing: 1px; word-spacing: 3px; }
h3 { font-size: 1.27em; }
ul { list-style: none; padding: 0; }
--></style>

<!--[if lte IE 7]><style type="text/css">
body { font-size: 69%; }

h2 { border-bottom-width: 1px; }
</style><![endif]-->

</head><body>

<h1><!--
--><img alt="<tmpl_var escape=html krang_product_name>" src="/images/logo.gif" height="46" width="83"><!--
--></h1>

<h2>
About <tmpl_var escape=html krang_product_name>
</h2>

<h3>
CMS
</h3>

<p>
Version <tmpl_var escape=html version>
</p>

<h3>
Server IP Address
</h3>

<p>
<tmpl_var escape=html server_ip>
</p>

<tmpl_if cgi_mode><p>
  Server running with CGI_MODE set.
</p></tmpl_if>

<h3>
Addons
</h3>

<tmpl_unless addons>

  <p>
  No addons are installed.
  </p>

<tmpl_else>

  <ul><tmpl_loop addons>
    <li>
    <tmpl_var escape=html name>
    Version <tmpl_var escape=html version>
    </li>
  </tmpl_loop></ul>

</tmpl_unless>

</body></html>

