<!--HTMLPager/pager-internals.tmpl:-->

<input name="<tmpl_var escape=html get_form_obj_magic_name>" value="" type="hidden">
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html curr_page_num>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html sort_order_desc>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html show_big_view>" type="hidden">
<tmpl_var pager_persist_data>

<script type="text/javascript">
get_form_obj = function()
{
  var magic_name = '<tmpl_var escape=js get_form_obj_magic_name>';

  for ( var i = 0; i < document.forms.length; i++ )
  {
    var f = document.forms[ i ];

    for ( var j = 0; j < f.elements.length; j++ )
    {
      var el = f.elements[ j ];

      if ( el && ( el.name == magic_name ) ) return f;
    }
  }
}

go_page = function( page_num )
{
  var myform = get_form_obj();
  myform.krang_pager_curr_page_num.value = page_num;
  <tmpl_if javascript_presubmit>if ( <tmpl_var javascript_presubmit> ) </tmpl_if>myform.submit();
}

do_sort = function( sort_field, sort_order_desc )
{
  var f = get_form_obj();
  f.krang_pager_sort_field.value = sort_field;
  f.krang_pager_sort_order_desc.value = sort_order_desc;
  go_page( '1' );
}

show_big_view = function( big_page_state )
{
  var f = get_form_obj();
  f.krang_pager_show_big_view.value = big_page_state;
  go_page( '1' );
}
</script>

<!--:HTMLPager/pager-internals.tmpl-->

