<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html401/loose.dtd">
<html>
<head>
<title>Processing <tmpl_if preview>Preview<tmpl_else>Publish</tmpl_if> Request</title>
<link rel="stylesheet" href="/krang.css" type="text/css" />
<script src="krang.js" type="text/javascript"></script>
</head>
<body>
<div class="publish">
<div class="dark-bar"><p class="center">Processing <tmpl_if preview>Preview<tmpl_else>Publish</tmpl_if> Request</p></div>
<div class="box"><br>
<div style="margin-top: 10px; border: 1px solid #bababa; padding: 1px; width: 300px; height: 15px; margin-left: auto; margin-right: auto; text-align: left;" class="light">
  <div id="progress_bar" style="width: 0px; height: 15px; overflow: clip;" class="bright">
    <div id="progress_bar_percent" style="text-align: right"></div>
  </div>
</div>
<div style="text-align: center" id="progress_bar_label"></div>
<br></div></div>
