<tmpl_include header.tmpl>

<script type="text/javascript">

Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'story_new' );
  slug_entry_by_type();
} );

create = function()
{
  Krang.Form.submit( 'new_story', { rm: 'create' } );
}

cancel = function()
{
  Krang.Form.submit( 'new_story', { rm: 'cancel' } );
}


// begin slug-related javascript

<tmpl_loop title_to_slug_function_loop>
<tmpl_var type>_title_to_slug = <tmpl_var function>
</tmpl_loop>

var manual_slug = '';  // stores manually-modified slug
auto_slug = function() // returns slug built from title
{ 
   var title = document.new_story.title.value;
   if (title == '') { return '' }

   var slug_function = document.new_story.type.value + '_title_to_slug';
   if (eval('typeof ' + slug_function) == 'function') {

     // this story-type has a class-overridden conversion function
     return (eval(slug_function + "('" + title + "')"));

   } else { 

     // this story-type needs the default conversion function
     return (Krang.Slug.title_to_slug(title));
   }
}

enable_slug_input = function() 
{
  document.new_story.slug.value         = manual_slug || auto_slug();
  document.new_story.slug.disabled      = false;
  document.new_story.index_page.checked = false;	
}

grey_out_slug_input = function() 
{
  document.new_story.slug.value         = 'index.html';
  document.new_story.slug.disabled      = true;
  document.new_story.index_page.checked = true;	
}

slug_entry_by_type = function() {

  // prohibit slug-entry if no type has been selected
  if (!document.new_story.type.value) {
	slug_entry_for_this_type = 'prohibit';
  }

  // otherwise determine slug-entry mode by type
  <tmpl_loop slug_entry_by_type_loop>
  if (document.new_story.type.value == '<tmpl_var story_type>') 
  { 
        slug_entry_for_this_type = '<tmpl_var slug_entry_mode>';
  }	
  </tmpl_loop>
  
  if (slug_entry_for_this_type == 'prohibit') {
     document.getElementById('slug_row').style.display = 'none';
     document.new_story.slug.value = '';
  } else {
     if (slug_entry_for_this_type == 'require') {
	    document.new_story.index_page.style.display = 'none';
	    document.getElementById('index_label').style.display = 'none';
	    document.getElementById('slug_required_asterisk').style.display='';
	    enable_slug_input();
     } else {
	    document.new_story.index_page.style.display = '';
	    document.getElementById('index_label').style.display = '';
	    document.getElementById('slug_required_asterisk').style.display='none';
            if (user_selected_index_page) {
	       grey_out_slug_input(); 			 // when switching to a type
	    } else if (user_unselected_index_page) {     // that has optional slugs,
	       enable_slug_input();			 // remember user's selection
	    } else {
	       (slug_entry_for_this_type == 'default') ? enable_slug_input() : grey_out_slug_input();
	    }	
     }
     document.getElementById('slug_row').style.display = '';
  }

}

var user_selected_index_page = 0;
var user_unselected_index_page = 0;

user_toggled_index_page = function() {
  user_selected_index_page   = document.new_story.index_page.checked;
  user_unselected_index_page = !user_selected_index_page;
  user_selected_index_page ? grey_out_slug_input() : enable_slug_input();
}

user_changed_title = function() {
  if (!manual_slug && !document.new_story.index_page.checked) {
	document.new_story.slug.value = auto_slug();
  }
}

user_changed_slug = function(new_value) {
  if (manual_slug && (document.new_story.slug.value == '')) {
	document.new_story.slug.value = auto_slug(); // this aims to re-build slug from title
        manual_slug = '';                            // when a manually-changed slug is deleted
  } else {
        manual_slug = document.new_story.slug.value;
  }
}

wipe_slug_if_saving_index_page = function() {
  if (document.new_story.index_page.checked) {
	// actual slug should be empty, not index.html
	document.new_story.slug.value = ''; 
  }
}

// end slug-generation javascript

</script>




<h2>
New Story
</h2>

<form name="new_story" method="post" action="story.pl" onsubmit="wipe_slug_if_saving_index_page()">

<input name="rm" type="hidden">

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="demi">

<tr<tmpl_if bad_type> class="err"</tmpl_if>>
<th>*Type</th>
<td><tmpl_var type_selector></td>
</tr>

<tr<tmpl_if bad_title> class="err"</tmpl_if>>
<th>*Title</th>
<td><input name="title" value="<tmpl_var escape=html title>" onkeyup="user_changed_title()"></td>
</tr>

<tr id="slug_row" <tmpl_if bad_slug>class="err"<tmpl_else>style="display:none"</tmpl_if>>
<th><label id="slug_required_asterisk">*</label>Slug</th>
<td>
<input name="slug" value="<tmpl_if slug><tmpl_var escape=html slug></tmpl_if>" onkeyup="user_changed_slug()" style="width:45%" disabled>
<input name="index_page" type="checkbox" onchange="user_toggled_index_page()" style="width:5%"><label id="index_label">Index Page (Cover)</label>
</td>
</tr>



</tbody>

<tbody>

<tr<tmpl_if bad_cover_date> class="err"</tmpl_if>>
<th>*Cover Date</th>
<td><tmpl_var cover_date_selector></td>
</tr>

<tr<tmpl_if bad_category_id> class="err"</tmpl_if>>
<th>*Site/Category</th>
<td><tmpl_var category_chooser></td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="Cancel" onclick="cancel()" type="button" class="west">
<input value="Create" onclick="create()" type="button">
</div>

</form>

<tmpl_include footer.tmpl>

