<tmpl_include header.tmpl>

<script type="text/javascript">

Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'story_new' );
} );

create = function()
{
  Krang.Form.submit( 'new_story', { rm: 'create' } );
}

cancel = function()
{
  Krang.Form.submit( 'new_story', { rm: 'cancel' } );
}


// begin slug-generation javascript

<tmpl_loop title_to_slug_function_loop>
<tmpl_var type>_title_to_slug = <tmpl_var function>
</tmpl_loop>

auto_build_slug = function() // builds slug from title
{ 
   var title = document.new_story.title.value;
   if (title == '') { document.new_story.slug.value = ''; return '' }

   var slug_function = document.new_story.type.value + '_title_to_slug';
   if (eval('typeof ' + slug_function) == 'function') {

     // this story-type has a class-overridden conversion function
     document.new_story.slug.value = eval(slug_function + "('" + title + "')"); 

   } else { 

     // this story-type needs the default conversion function
     document.new_story.slug.value = Krang.Slug.title_to_slug(title); 
   }
}

var manual_slug = ''; 
use_manual_slug = function() // displays user-modified slug
{
   document.new_story.slug.value = manual_slug;
}

enable_slug_input = function() {
    manual_slug ? use_manual_slug() : auto_build_slug();
    document.new_story.slug.disabled      = false;
    document.new_story.index_page.checked = false;
}

disable_slug_input = function() {
    document.new_story.slug.value         = 'index.html';
    document.new_story.slug.disabled      = true;
    document.new_story.index_page.checked = true;
}    	
	
disable_slug_by_type = function() {

  // only display slug row if a type has been selected
  if (document.new_story.type.value == '') {
	document.getElementById('slug_row').style.display = 'none';
        return;
  } else {
	document.getElementById('slug_row').style.display = '';
  }
  

  // don't change index-page state if user explicitly clicked the index checkbox
  if (checkbox_changed) {
	if (!manual_slug) { auto_build_slug() }; // but use new type's conversion method
	return;
  } 

  // if a type HAS been selected, and the user hasn't specified index-page state
  // directly via the checkbox, look to see whether type defaults to index-page
  <tmpl_loop assume_index_type_loop>
  if (document.new_story.type.value == '<tmpl_var index_type>') 
  { 
 	disable_slug_input(); 
	return; 
  }	
  </tmpl_loop>

  // this story type by default is NOT an index page (i.e. has a slug)
  enable_slug_input();
}

var checkbox_changed = 0;
user_changed_checkbox = function() {
  checkbox_changed = 1;
  document.new_story.index_page.checked ? disable_slug_input() : enable_slug_input();
}

user_changed_title = function() {
  if (!manual_slug && !document.new_story.index_page.checked) {
	auto_build_slug();
  }
}

user_changed_slug = function(new_value) {
  if (manual_slug && (document.new_story.slug.value == '')) {
	auto_build_slug();  // this aims to re-build slug from title
        manual_slug = '';   // when a manually-changed slug is deleted
  } else {
        manual_slug = document.new_story.slug.value;
  }
}

wipe_slug_if_saving_index_page = function() {
  if (document.new_story.index_page.checked) {
	// actual slug should be empty, not index.html
	document.new_story.slug.value = ''; 
  }
}

// end slug-generation javascript

</script>




<h2>
New Story
</h2>

<form name="new_story" method="post" action="story.pl" onsubmit="wipe_slug_if_saving_index_page()">

<input name="rm" type="hidden">

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="demi">

<tr<tmpl_if bad_type> class="err"</tmpl_if>>
<th>*Type</th>
<td><tmpl_var type_selector></td>
</tr>

<tr<tmpl_if bad_title> class="err"</tmpl_if>>
<th>*Title</th>
<td><input name="title" value="<tmpl_var escape=html title>" onkeyup="user_changed_title()"></td>
</tr>

<tr id="slug_row"<tmpl_if bad_slug> class="err"</tmpl_if><tmpl_unless type> style="display:none"</tmpl_unless>>
<th>Slug</th>
<td>
<input name="slug" value="<tmpl_if slug><tmpl_var escape=html slug><tmpl_else><tmpl_if title>index.html<tmpl_else><tmpl_if bad_title>index.html</tmpl_if></tmpl_if></tmpl_if>" onkeyup="user_changed_slug()" style="width:45%" <tmpl_unless slug><tmpl_if title>disabled<tmpl_else><tmpl_if bad_title>disabled</tmpl_if></tmpl_if></tmpl_unless>>
<input name="index_page" type="checkbox" onchange="user_changed_checkbox()" style="width:5%" <tmpl_unless slug>checked</tmpl_unless>>Index Page (Cover)
</td>
</tr>

</tbody>

<tbody>

<tr<tmpl_if bad_cover_date> class="err"</tmpl_if>>
<th>*Cover Date</th>
<td><tmpl_var cover_date_selector></td>
</tr>

<tr<tmpl_if bad_category_id> class="err"</tmpl_if>>
<th>*Site/Category</th>
<td><tmpl_var category_chooser></td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="Cancel" onclick="cancel()" type="button" class="west">
<input value="Create" onclick="create()" type="button">
</div>

</form>

<tmpl_include footer.tmpl>

