<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  //Krang.Help.set( '' );
} );

<tmpl_if advanced>
  simple_search = function()
  {
    Krang.form_submit('select_story', { advanced: 0 }, { to_top: false });
  }

  clear_advanced_search = function()
  {
    Krang.form_submit('clear_advanced_search_form', {}, { to_top: false });
  }
<tmpl_else>
  advanced_search = function()
  {
    Krang.form_submit('select_story', { advanced: 1 }, { to_top: false });
  }
</tmpl_if>

//[tmpl_if row_count] db2: not populated
  select_story = function( id )
  {
    Krang.form_submit('select_story', { rm: 'select_story', selected_story_id: id });
  }
//[/tmpl_if]

cancel_select = function()
{
  Krang.form_submit('select_story', { rm: 'edit', path: '<tmpl_var escape=js parent_path>' });
}
</script>

<h2>
Select Story
</h2>

<form name="select_story" action="<tmpl_var escape=html action>" method="post">

<input name="rm" value="find_story_link" type="hidden">
<input name="selected_story_id" type="hidden">
<input name="path" value="<tmpl_var escape=html path>" type="hidden">
<input name="advanced" value="<tmpl_var escape=html advanced>" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
<tmpl_var hard_find_hidden>

<div class="finder">

<div class="east">
<a href="javascript:<tmpl_if advanced>simple<tmpl_else>advanced</tmpl_if>_search()"><tmpl_if advanced>Simple<tmpl_else>Advanced</tmpl_if> Search</a>
</div>

<h3>
<tmpl_if advanced>
  Advanced
<tmpl_else>
  Simple
</tmpl_if>
Search
</h3>

<tmpl_if advanced>

  <table summary=""><!--:FIX(db2)-->

  <colgroup>
  <col class="c-label">
  <col>
  <col>
  </colgroup>

  <tbody class="demi">
  <tr>
  <th>Title</th>
  <td colspan="2"><input name="search_title" value="<tmpl_var escape=html search_title>"></td>
  </tr>

  <tr>
  <th>URL</th>
  <td colspan="2"><input name="search_url" value="<tmpl_var escape=html search_url>"></td>
  </tr>
  </tbody>

  <tbody>
  <tr>
  <th rowspan="2">Cover Date</th>
  <td>from</td>
  <td><tmpl_var date_chooser_cover_from></td>
  </tr>

  <tr>
  <td>to</td>
  <td><tmpl_var date_chooser_cover_to></td>
  </tr>

  <tr>
  <th rowspan="2">Publish Date</th>
  <td>from</td>
  <td><tmpl_var date_chooser_publish_from></td>
  </tr>

  <tr>
  <td>to</td>
  <td><tmpl_var date_chooser_publish_to></td>
  </tr>
  </tbody>

  <tbody class="demi">
  <tr>
  <th>Story Type</th>
  <td colspan="2"><tmpl_var search_class_chooser></td>
  </tr>

  <tr>
  <th>Story ID</th>
  <td colspan="2"><input name="search_story_id" value="<tmpl_var escape=html search_story_id>"></td>
  </tr>

  <tr>
  <th>Contributor</th>
  <td colspan="2"><input name="search_contrib_simple" value="<tmpl_var escape=html search_contrib_simple>"></td>
  </tr>

<!--(db2) Story/find.tmpl has this, but why not here? ...
  <tr>
  <th>Creator</th>
  <td colspan="2"><input name="search_creator_simple" value="<tmpl_var escape=html search_creator_simple>"></td>
  </tr>
... Story/find.tmpl has this, but why not here? (db2)-->

  <tr>
  <th>Site/Category</th>
  <td colspan="2"><tmpl_var category_chooser></td>
  </tr>

  <tr class="last">
  <td colspan="3" style="text-align:right">
  <input value="Clear" onclick="clear_advanced_search()" type="button" class="button">
  <input value="Search" type="submit" class="button">
  </td>
  </tr>
  </tbody>

  </table>

<tmpl_else>

  <p>
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" size="40" class="autocomplete">
  <input value="Search" type="submit" class="button">
  </p>

</tmpl_if>

</div>

</form>

<div class="pager">

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

</div>

<div class="panel lame"><form name="ignoreme">
<input value="Cancel" onclick="cancel_select()" type="button" class="west">
</form></div>

<tmpl_if advanced>
  <form name="clear_advanced_search_form" action="<tmpl_var escape=html action>" method="post">
  <input name="rm" value="find_story_link" type="hidden">
  <input name="path" value="<tmpl_var escape=html path>" type="hidden">
  <input name="advanced" value="1" type="hidden">
  <input name="search_filter" value="" type="hidden">
  </form>
</tmpl_if>

<tmpl_include footer.tmpl>

