<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  //Krang.Help.set( '' );
} );

<tmpl_if advanced>
  simple_search = function()
  {
    Krang.form_submit('select_media', { advanced: 0 }, { to_top: false });
  }

  clear_advanced_search = function()
  {
    Krang.form_submit('clear_advanced_search_form' {}, { to_top: false });
  }
<tmpl_else>
  advanced_search = function()
  {
    Krang.form_submit('select_media', { advanced: 1 }, { to_top: false });
  }
</tmpl_if>

//[tmpl_if row_count] db2: not populated
  select_media = function( id )
  {
    Krang.form_submit('select_media', { rm: 'select_media', selected_media_id: id });
  }
//[/tmpl_if]

cancel_select = function()
{
  Krang.form_submit('select_media', { rm: 'edit', path: '<tmpl_var escape=js parent_path>' });
}
</script>

<h2>
Select Media
</h2>

<form name="select_media" action="<tmpl_var escape=html action>" method="post">

<input name="rm" value="find_media_link" type="hidden">
<input name="selected_media_id" type="hidden">
<input name="advanced" value="<tmpl_var escape=html advanced>" type="hidden">
<input name="path" value="<tmpl_var escape=html path>" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
<tmpl_var hard_find_hidden>
<tmpl_if advanced>
  <input name="search_filter" value="" type="hidden">
</tmpl_if>

<div class="finder">

<div class="east">
<a href="javascript:<tmpl_if advanced>simple<tmpl_else>advanced</tmpl_if>_search()"><tmpl_if advanced>Simple<tmpl_else>Advanced</tmpl_if> Search</a>
</div>

<h3>
<tmpl_if advanced>
  Advanced
<tmpl_else>
  Simple
</tmpl_if>
Search
</h3>

<tmpl_if advanced>

  <table summary="">

  <colgroup>
  <col class="c-label">
  <col>
  </colgroup>

  <tbody class="demi">
  <tr>
  <th>File</th>
  <td><input name="search_filename" value="<tmpl_var escape=html search_filename>"></td>
  </tr>

  <tr>
  <th>Title</th>
  <td><input name="search_title" value="<tmpl_var escape=html search_title>"></td>
  </tr>

  <tr>
  <th>Media ID</th>
  <td><input name="search_media_id" value="<tmpl_var escape=html search_media_id>"></td>
  </tr>

  <tr>
  <th>Site/Category</th>
  <td><tmpl_var category_chooser></td>
  </tr>
  </tbody>

  <tbody>
  <tr>
  <th>Creation Date</th>
  <td><tmpl_var date_chooser></td>
  </tr>

  <tr>
  <th>Without Attributes</th>
  <td><input name="search_no_attributes" value="1" type="checkbox"<tmpl_if search_no_attributes> checked</tmpl_if>></td>
  </tr>

  <tr class="last">
  <td colspan="2" style="text-align:right">
  <input value="Clear" onclick="clear_advanced_search()" type="button" class="button">
  <input value="Search" type="submit" class="button">
  </td>
  </tr>
  </tbody>

  </table>

<tmpl_else>

  <p>
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" size="40" class="autocomplete">
  <input value="Search" type="submit" class="button">
  </p>

</tmpl_if>

</div>

</form>

<div class="pager">

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

</div>

<div class="panel lame"><form name="ignoreme">
<input value="Cancel" onclick="cancel_select()" type="button" class="west">
</form></div>

<tmpl_if advanced>
  <form name="clear_advanced_search_form" action="<tmpl_var escape=html action>" method="post">
  <input name="rm" value="find_media_link" type="hidden">
  <input name="path" value="<tmpl_var escape=html path>" type="hidden">
  <input name="advanced" value="1" type="hidden">
  <input name="search_filter" value="" type="hidden">
  </form>
</tmpl_if>

<tmpl_include footer.tmpl>

