<tmpl_include login_header.tmpl>

<script type="text/javascript">
window.onload = function(){ document.forms[ 'form-login' ][ 'username' ].focus(); };
</script>

<h2>
Welcome!
</h2>

<tmpl_loop header_alert_loop>
  <p class="err">
  <tmpl_var escape=html alert>
  </p>
</tmpl_loop>

<form id="form-login" name="form-login" action="login.pl" method="post">

<input name="rm" value="login" type="hidden">
<input name="target" value="<tmpl_var escape=html target>" type="hidden">

<p>
<label for="login-username">User Name</label>
<input id="login-username" name="username" value="<tmpl_var escape=html username>">
</p>

<p>
<label for="login-password">Password</label>
<input id="login-password" name="password" type="password">
</p>

<p class="btn">
<input value="Log In" type="submit">
<a href="login.pl?rm=forgot_pw">Forgot your Login?</a>
</p>

</form>

<tmpl_include login_footer.tmpl>
