<tmpl_unless ajax></div>

<div id="S">
<tmpl_include /nav.tmpl>
</div>

<br style="display:block;clear:both"><!--[if lt IE 7]>&nbsp;<![endif]--></div>

<div id="F"><div>

<ul class="nav">

<!--
...Op(9)+Sf(2)...
--><tmpl_if cms_contact_email><li class="l"><a href="mailto:<tmpl_if cms_contact_email>">
Contact Us
</a></li></tmpl_if>

</ul>

</div></div>

<script type="text/javascript">
Krang.load();
</script>

</body></html></tmpl_unless>

