<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html401/loose.dtd">

<html lang="en-US"><head>

<title>Welcome To Krang</title>

</head><body>

<h1>
Welcome to Krang
</h1>

<p>
This is the menu of available instances Krang serves.
Select any instance listed below to begin work.
</p>

<ul>

<tmpl_loop instance_loop><li>
  <a href="/<tmpl_var escape=html InstanceName>/"><tmpl_var escape=html InstanceDisplayName></a>
</li></tmpl_loop>

</ul>

</body></html>

