html { background-color: #333; color: #FFF; }
body { width: 960px; margin: 0 auto 18px; padding: 0; font: 11px/1 "Helvetica Neue",arial,helvetica,sans-serif; }
#H   { }
#M   { background-color: #FFF; color: #000; min-height: 420px; border: 1px solid #FFF; border-width: 1px 0; }
#F   { }

a                 { background-color: inherit; color: #690; font-weight: bold; text-decoration: none; }
a:hover, a:active { background-color: #FF9; color: #360; }
a:focus           { outline: none; }/*:FF borks layout otherwise(db2)*/
a img             { border: 0; }

#H h1 { background: <tmpl_var BackgroundColor> url("/images/bkg-logo.jpg") no-repeat; color: <tmpl_var TextColor>; margin: 0; padding: 0 0 0 12px; font-size: 1em; }

h2 { background-color: inherit; color: #369; margin: 20px 20px 0; border-bottom: thin solid #CEE7FF; font: normal 2.72em Georgia,serif; text-transform: uppercase; letter-spacing: 1px; word-spacing: 3px; }

p.err { background-color: inherit; color: <tmpl_var InvalidColor>; margin: 20px 30px -20px; font-weight: bold; font-size: 1.25em; }

form   { margin: 40px 30px; padding: 0; }
form p { margin: 0 0 10px; font-size: 1em; }

p label       { width: 6em; display: -moz-inline-box; display: inline-block; background-color: inherit; color: #666; font-weight: bold; }
p input       { background-color: #FFF; color: #000; width: 18em; padding: .25em; font-size: 1em; }
p input:focus { background-color: #FF9; color: #000; }

.btn       { margin: 20px 0 0; padding: 0 0 0 6em; line-height: 2.16; }
.btn input { background-color: #690; color: #FFF; width: auto; overflow: visible; border: thin solid #360; border-width: 0 thin thin 0; padding: .35em .7em; font-size: 1.27em; line-height: 1; font-weight: bold; }

#H ul.nav     , #F ul.nav      { background: #DDD; color: #666; height: 2.28em; list-style: none; margin: 0; padding: 0 20px 0 0; text-align: right; }
#H .nav li    , #F .nav li     { display: -moz-inline-box; display: inline-block; border-left: thin solid #CCC; }
#H .nav li.l  , #F .nav li.l   { border-right: thin solid #CCC; }
#H .nav a     , #F .nav a      { height: 2.28em; display: block; padding: 0 10px; line-height: 2.28; cursor: default; }
#H .nav a span, #F .nav a span { color: #666; font-weight: normal; }
#H #instance_logo              { float: right; margin-right: 30px; z-index: 100; }

