/**************
 * Page Frame *
 **************/

html { background: #333; color: #FFF; }
body { background: url("/images/bkg-body.gif") repeat-y; width: 974px; margin: 0 auto; padding: 0; font: 11px/1 "Helvetica Neue",arial,helvetica,sans-serif; }
#H   { background: #360 url("/images/bkg-header.jpg") no-repeat; position: relative; height: 105px; margin: 0 7px; }
#M   { background: #FFF url("/images/bkg-midriff.gif") repeat-y; color: #000; min-height: 420px; margin: 0 7px; border: 1px solid #D4D4D4; border-width: 1px 0; }
#S   { width: 178px; margin: 20px 0; }
#C   { float: right; width: 740px; margin: 20px; }
#F   { background: url("/images/bkg-footer.gif") no-repeat; padding: 0 7px 31px; }


/******************
 * Global Effects *
 ******************/

a                 { background-color: inherit; color: #690; font-weight: bold; text-decoration: none; }
a:hover, a:active { background-color: #FF9; color: #360; }
a:focus           { outline: none; }/*:FF borks layout otherwise(db2)*/
a img             { border: 0; }

form { margin: 0; padding: 0; }

.glue { white-space: nowrap !important; }
.wrap { white-space: normal !important; }
.cram { margin: 0 !important; }/*:deprecate(db2)*/


/*******************
 * Header + Footer *
 *******************/

#H h1, #H #instance_logo { position: absolute; top: 10px; }
#H h1 { left: 20px; margin: 0; font-size: 1em; }
#H #instance_logo { right: 20px; }

#H ul.nav, #F ul.nav { color: #666; height: 2.28em; list-style: none; margin: 0; padding: 0 20px; text-align: right; }
#H ul.nav            { background: #DDD url("/images/bkg-header-nav.gif") repeat-x; position: absolute; bottom: 0; left: 180px; right: 0; }
#F ul.nav            { background: #E1E1E1 url("/images/bkg-footer-nav.gif") 0 100% repeat-x; margin-left: 180px; }
#H .nav li    , #F .nav li     { display: -moz-inline-box; display: inline-block; border-left: thin solid #CCC; }
#H .nav li.l  , #F .nav li.l   { border-right: thin solid #CCC; }
#H .nav a     , #F .nav a      { height: 2.28em; display: block; padding: 0 10px; line-height: 2.28; cursor: default; }
#H .nav a span, #F .nav a span { color: #666; font-weight: normal; }

#F div { background: #360 url("/images/bkg-footer-grass.jpg") no-repeat; height: 65px; max-height: 65px; }


/***********
 * Sidebar *
 ***********/

#S div           { border-bottom: 1px solid #CCC; }
#S div.first     { border-top: 1px solid #CCC; }
#S div div       { border-bottom: 0; }
#S h2            { background: #EEE url("/images/bkg-sidebar-nav.gif") 0 50% repeat-x; color: #369; margin: 0; font: normal 1.27em Georgia,serif; text-transform: uppercase; }
#S h2 span       { background: transparent url("/images/bkg-sidebar-nav-icons.gif") 0 50% no-repeat; display: block; padding: 4px 0 4px 38px; cursor: pointer; }
#S h2 span:hover { background-color: #FF9; color: #369; }
#S dl            { background: #EEE; color: #999; margin: 0; padding: 0 0 10px; }
#S dt a, #S dt b { display: block; border: 1px solid #EEE; border-width: 1px 0; padding: 4px 0 4px 38px; }
#S dt a:hover    { border-color: #CCC; }

#S h2.stories span   { background-position:  -356px 50%; }    #S h2.stories span:hover   { background-position:  -534px 50%; }
#S h2.media span     { background-position:  -712px 50%; }    #S h2.media span:hover     { background-position:  -890px 50%; }
#S h2.templates span { background-position: -1068px 50%; }    #S h2.templates span:hover { background-position: -1246px 50%; }
#S h2.admin span     { background-position: -1424px 50%; }    #S h2.admin span:hover     { background-position: -1602px 50%; }


/************
 * Throbber *
 ************/

#indicator     { background-color: #CEE7FF; color: #666; filter: alpha(opacity=90); opacity: .9; position: fixed; left: 0; bottom: 0; height: 3em; width: auto; border: 1px solid #369; padding: 0 1em; font-size: .91em; line-height: 3; font-weight: bold; white-space: nowrap; }
#indicator img { padding: 0 1em 0 0; vertical-align: middle; }


/***************
 * Krang.Error *
 ***************/

#modal_overlay   { background-color: #000; }
#modal_container { background-color: #E0F0FF; width: 500px; border: 1px solid <tmpl_var BorderColor>; }

#modal_container .content {
  background: url("/images/bug.gif") no-repeat;
  color: #000;
  height: 70px;
  min-height: 60px;
  margin: 10px 15px;
  padding: 0 0 0 60px;
  font-size: 1.27em;
}

#modal_container .control { background-color: #CEE7FF; padding: 5px 10px 5px 0; text-align: right; }


/******************
 * Krang.Messages *
 ******************/

.krang-slider          { position: fixed; z-index: 200; width: 974px; }/*:FIX z-index(db2)*/
.krang-slider .wrapper { background-color: #E0F0FF; filter: alpha(opacity=90); opacity: .9; width: 440px; margin: 0 auto; border: 1px solid #9CF; }
.krang-slider .content { background: url("/images/slider-info.gif") 20px 10px no-repeat; color: #333; min-height: 60px; max-height: 28.5em; overflow: auto; }
#alerts .content       { background-image: url("/images/slider-alert.gif"); }
.krang-slider p        { margin: 1.5em 80px; line-height: 1.5; font-weight: bold; }
.krang-slider form     { background-color: #CEE7FF; border-top: 1px solid #9CF; padding: 10px; text-align: right; }


/* !!!!!!!!!!!!!!!!!!!! PAGE "CONTENT" FOLLOWS BELOW !!!!!!!!!!!!!!!!!!!! */


/******************
 * Global Effects *
 ******************/

#C .west { float: left; }
#C .east { float: right; }


/************
 * Headings *
 ************/

#C h2, #C h3, #C h4 { background-color: inherit; margin: 0; }
#C h2, #C h3 { color: #369; font-weight: normal; font-family: Georgia,serif; text-transform: uppercase; }
#C h3, #C h4 { margin-top: 20px; }
#C h2 { border-bottom: thin solid #CEE7FF; font-size: 2.72em; letter-spacing: 1px; word-spacing: 3px; }
#C h3 { font-size: 1.27em; }
#C h4 { color: #666; font-size: 1em; font-weight: bold; }


/**********
 * Blocks *
 **********/

#C p, #C .faux-p { margin: 1.5em 20px 0; line-height: 1.5; }


/**********
 * Tables *
 **********/

#C table { width: 100%; table-layout: fixed; border-collapse: collapse; margin: 20px 0 0; line-height: 1.5; }
#C thead { background-color: #CEE7FF; color: #369; }
#C tbody { }

#C tr        { }
#C tr.hilite { background-color: #FF9 !important; }/*:reliable in IE?(db2)*/

#C th, #C td { padding: .5em .25em; overflow: hidden; word-wrap: break-word; vertical-align: top; }

#C th       { font-weight: bold; text-align: left; white-space: nowrap; }
#C thead th { vertical-align: bottom; }/*:temp(db2)*/
#C tbody th { background-color: inherit; color: #666; }

#C table table    { margin-top: 0; table-layout: auto; }/*:ONLY ElementEditor?(db2)*/
#C table table td { padding-left: 0; overflow: visible; word-wrap: normal; }/*:ONLY ElementEditor?(db2)*/

#C table.report { width: auto; table-layout: auto; }
#C table.report th, #C table.report td { overflow: visible; word-wrap: normal; }

#C table.requisition { }

#C table.result { }

#C col.c-date    { width: 12em; }
#C col.c-flag    { width:  2em; }
#C col.c-id      { width:  4em; }/*:six digits max(db2)*/
#C col.c-link    { width: 10em; }
#C col.c-stat    { width:  6em; }
#C col.c-sum     { width:  6em; }
#C col.c-big-sum { width:  8em; }
#C col.c-thumb   { width:  4em; }
#C col.c-type    { width:  5em; }
#C col.c-user    { width:  8em; }

#C col.c-label { width: 14em; }
#C col.c-mini  { width:  8em; }
#C col.c-nano  { width:  3em; }

#C col.series { width: 6em; }
#C col.tick   { width: 2em; }
#C tr .series,
#C tr .tick   { text-align: center; }



/*********
 * Forms *
 *********/

input, select, textarea { font-size: 1em; }
textarea { line-height: 1.1; font-family: "Helvetica Neue",arial,helvetica,sans-serif; }
input:focus, select:focus, textarea:focus { background-color: #FF9; color: #000; }

#C .edit textarea { width: 100%; }

#C .full input, #C .full select, #C .full textarea { width: 100%; }
#C .demi input, #C .demi select, #C .demi textarea { width:  75%; }
#C .half input, #C .half select, #C .half textarea { width:  50%; }
#C .full .usual, #C .demi .usual, #C .half .usual  { width: auto; }

#C .button { background: <tmpl_var BorderColor>; color: <tmpl_var ButtonColor>; width: auto !important; overflow: visible; margin: 0 5px; border: 1px outset; padding: 1px; line-height: 1; font-weight: bold; }
#C table .button { margin: 0; }


/*****************
 * Action Panels *
 *****************/

#C .panel  { padding: 20px 0 0; text-align: right; }

#C .panel input      { width: auto; overflow: visible; background: #690; color: #FFF; margin: 0 0 0 5px; border: 1px solid #360; border-color: #690 #360 #360 #690; padding: .1em .5em; font-size: 1.27em; line-height: 1; font-weight: bold; }
#C .panel input.west { margin-right: 10px; margin-left: 0; }
#C .panel div.west   { text-align: left; }/*:IE(mac) Workspace+Desk(db2)*/

#C .lame            { text-align: left; }
#C .lame input.west { float: none; }

#C .capped { margin-top: 10px; border-top: 5px solid #CEE7FF; }/*:temp(db2)*/


/***********************
 * Tabsets *
 ***********************/

#C .tabset { margin: 20px 0 0; border: 10px solid #CEE7FF; }

#C .tabs { list-style: none; margin: 0; padding: 0; background-color: #CEE7FF; white-space: nowrap; overflow: hidden; }
#C .tabs li { display: inline-block; display: -moz-inline-box; height: 2.27em; margin: 0 10px 0 0; }
#C .tabs li * { display: block; background-image: url("/images/bkg-corners-inner.gif"); background-repeat: no-repeat; }
#C .tabs a, #C .tabs b { padding: 0 0 0 10px; }
#C .tabs a { background-color: #E0F0FF; background-position: 0 -600px; cursor: pointer; }
#C .tabs b { background-color: #FFF; color: #369; background-position: 0 0; cursor: default; }
#C .tabs span { padding: 0 10px 0 0; line-height: 2.27em; }
#C .tabs a span { background-position: 100% -900px; }
#C .tabs b span { background-position: 100% -300px; }

#C .tabbed { margin: 0 20px 20px; }

#C .tabbed p, #C .tabbed .faux-p { margin-right: 0; margin-left: 0; }/*:testing(db2)*/

#C .finder { border: 10px solid #DDD; }
#C .finder .tabs { background-color: #DDD; }
#C .finder .tabs a { background-position: 0 -1800px; }
#C .finder .tabs b { background-position: 0 -1200px; }
#C .finder .tabs a span { background-position: 100% -2100px; }
#C .finder .tabs b span { background-position: 100% -1500px; }


/********************
 * Krang::HTMLPager *
 ********************/

#C p.naught { background-color: #EEE; color: #666; padding: 1.5em 30px; font-weight: bold; }

#C .pages { background-color: inherit; color: #369; margin: 20px 0 0; border-top: 1px solid #CEE7FF; padding: 10px .5em 0 1em; font-weight: bold; }

#C .pages p   { float: left; margin: 0; line-height: 1; }/*:FIXME(db2)*/
#C .pages p a { margin: 0 0 0 .5em; border-left: 1px solid #CEE7FF; padding: 0 .5em; }

#C .pages ul { float: right; list-style: none; margin: 0; padding: 0; white-space: nowrap; }
#C .pages li { display: inline; }

#C .pages li a, #C .pages li b     { display: -moz-inline-box; display: inline-block; border-right: 1px solid #CEE7FF; padding: 0 .5em; }
#C .pages li a.l, #C .pages li b.l { border-right: 0; }


/*************************
 * HTML::PopupTreeSelect *
 *************************/

.hpts-outer
{
  z-index: 32767; visibility: hidden; position: absolute; background-color: <tmpl_var BackgroundColor>; top: 0; left: 0; border: 2px outset <tmpl_var TextColor>;
  filter:progid:DXImageTransform.Microsoft.dropshadow(color=#BABABA,offX=3,offY=3,positive=true);
}

.hpts-outer *   { width: 225px; }
.hpts-outer * * { width: auto; }

.hpts-title { overflow: hidden; background: <tmpl_var DarkColor>; color: <tmpl_var LightTextColor>; margin-bottom: 4px; padding: 2px 0; font-weight: bold; white-space: nowrap; }
.hpts-inner { overflow: auto; height: 200px; }
.hpts-block { display: none; margin-left: 24px; }
.hpts-inner span a { text-decoration: none; }
.hpts-label-selected a { background: <tmpl_var LightColor>; color: <tmpl_var TextColor>; }
.hpts-label-unselected a { }
.hpts-bbar   { overflow: hidden; background: <tmpl_var BrightColor>; color: <tmpl_var TextColor>; margin-top: 10px; padding: 3px 0; text-align: right; white-space: nowrap; }
.hpts-botbar { }
.hpts-button { overflow: visible; width: auto !important; background: <tmpl_var BorderColor>; color: <tmpl_var ButtonColor>; margin: 0 8px 0 0; border: thin outset; padding: 1px; font-weight: bold; line-height: 1; }
.hpts-bbar .hpts-button { margin: 0 4px 0 0; }


/*******************************
 * Krang::Widget::date_chooser *
 *******************************/

img.calendar_trigger:hover { cursor: pointer; }
div.calendar               { position: relative; width: 204px; }
.calendar, .calendar table { background: #999; color: #FFF; cursor: default; }

/* navigation buttons */
.calendar .button { height: 15px; font-weight: bold; text-align: center; }
.calendar .nav    { background: #999 url("/images/cal_button_bg.gif") bottom right repeat-x; color: #690; padding: 0 2px; font-size: 15px; }/*:FIX(db2)*/

/* 'Month Year' labeling */
.calendar thead .title { background: #999; color: #FFF; font-size: 11px; font-weight: bold; text-align: center; }/*:FIX(db2)*/

/* TR containing navigation buttons */
.calendar thead .headrow { background: #778; color: #FFF; }

/* TR containing day names */
.calendar thead .daynames { background: #BDF; }

/* TDs containing the day names */
.calendar thead .name { background-color: #DDD; color: #369; font-family: font-size: 14px; Georgia, serif; text-align: center; }

/* button :hover state */
.calendar thead .hilite { color: #000; }

/* button :active state */
.calendar thead .active { color: #999; }

/* TDs containing particular days */
.calendar tbody .day { color: #690; width: 2em; padding: 2px 4px 2px 2px; text-align: center; }
.calendar tbody .day.othermonth { font-weight: normal; }
.calendar tbody td   { background-color: #FFF; font-weight: bold; }

/* TD :hover state */
.calendar tbody td.hilite { background-color: #DDD; color: #360; }

/* TD :active state */
.calendar tbody td.active { background: #999; }

/* selected day */
.calendar tbody td.selected { background-color: #FF9; color: #360; }

/* weekends */
.calendar tbody td.weekend, .calendar tbody td.oweekend { background-color: #CEE7FF; }

/* today, etc. */
.calendar tbody td.today   { color: #000; }
.calendar tbody .disabled  { color: #999; }
.calendar tbody .emptycell { visibility: hidden; }

/* some months need fewer than six rows */
.calendar tbody .emptyrow { display: none; }

/* TFOOT */
.calendar tfoot { display: none; }

/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo { display: none; background: #DDD; color: #000; position: absolute; z-index: 100; top: 0; left: 0; width: 4em; border: 1px solid #999; font-size: .9em; cursor: default; }
.calendar .combo .label, .calendar .combo .label-IEfix { padding: 1px; text-align: center; }
.calendar .combo .label-IEfix { width: 4em; }/*:egad(db2)*/
.calendar .combo .hilite { background: #CEE7FF; }
.calendar .combo .active { background: #CEE7FF; border-top: 1px solid #999; border-bottom: 1px solid #999; font-weight: bold; }


/*******************************
 * Krang::Widget::time_chooser *
 *******************************/

img.clock_trigger:hover { cursor: pointer; }
div.clock_widget        { background-color: #CEE7FF; position: absolute; width: auto; border: 1px solid #999; padding: 3px; white-space: nowrap; }


/**********************
 * Ajax.Autocompleter *
 **********************/

input.autocomplete { }

div.autocomplete             { background-color: #E0F0FF; position: absolute; z-index: 32767; overflow: auto; max-height: 14em; border: 1px solid <tmpl_var BorderColor>; }/*:Sf(2)==z-i*/
div.autocomplete ul          { list-style: none; margin: 0; padding: 0; }
div.autocomplete li          { display: block; padding: .2em; cursor: pointer; }
div.autocomplete li.selected { background-color: #FF9; }

/* !!!!!!!!!!!!!!!!!!!!! UNSORTED CSS FOLLOWS BELOW !!!!!!!!!!!!!!!!!!!!! */


/*(db2)Publisher/progress + ReportDownload/progress ONLY:*/
#C .publish              { margin: 20px 20px 0; font-weight: bold; }
#C #progress             { background: #EEE; color: #666; float: left; height: 20px; width: 298px; margin: 0 20px 0 0; border: 1px solid #DDD; }
#C #progress_bar         { background: transparent url("/images/progress_bg.gif") repeat-x; height: 19px; width: 0; overflow: hidden; border: 1px solid #69C; border-width: 0 1px 1px 0; }
#C #progress_bar_percent { background: #FFF; color: #369; float: left; font-size: 1.27em; }
#C #progress_bar_label   { clear: both; padding: 20px 0 0; }


/*(db2)ListUpload/check_data + ListUpload/commit_data ONLY:*/
#C #upload_progress           { background: <tmpl_var BrightColor>; color: <tmpl_var LightTextColor>; height: 15px; width: 300px; border: 1px solid <tmpl_var BorderColor>; padding: 1px; text-align: left; }
#C #upload_progress_bar       { background: <tmpl_var DarkColor>; color: <tmpl_var LightTextColor>; height: 15px; width: 0; overflow: hidden; text-align: right; }
#C #upload_progress_bar_label { text-align: center; }
#C .upload_error              { background: #FFC; color: <tmpl_var InvalidColor>; margin: 12px 0 0; border: 1px solid <tmpl_var BorderColor>; padding: 2px; }


/*(db2)Bugzilla/edit ONLY:*/
#C dl.eg        { background: <tmpl_var BackgroundColor>; margin: 12px 0 0; padding: 0; }
#C dl.eg dt     { margin: 12px 0 0; font-weight: bold; }
#C dl.eg .first { margin: 0; }
#C dl.eg .bad   { color: #900; }
#C dl.eg .good  { color: #090; }
#C dl.eg dd     { margin: 0 0 0 12px; font-style: italic; }


/*(db2)Debug/debug ONLY:*/
.solo #M { background-image: none; }
.solo #C { float: none; width: auto; }


/*(db2)Krang::ElementClass::mark_form_invalid() ONLY:*/
.invalid, .invalid textarea, .invalid input, .invalid select { background: #F50; }


/*(db2)fix these ui warnings:*/
#C ul.notes  { background: #FFC; color: #F50; border: thin solid <tmpl_var BorderColor>; margin: 0 0 .25em; padding: .5em .5em .5em 2em; font-size: 1.27em; font-weight: bold; overflow: hidden; word-wrap: break-word; }
#C .notes li { margin: .5em 0; }
.alert       { color: #F50; margin-bottom: 5px; font-weight: bold; }/*:???(db2)*/
#C .alertp   { background: #FFC; color: #F50; margin: 20px 0 0; border: 1px solid <tmpl_var BorderColor>; padding: 24px; font-size: 1.27em; font-weight: bold; }


/* !!!!!!!!!!!!!! CORRALLED ERROR UI FLAGGING -- TEMPORARY !!!!!!!!!!!!!! */

#C .ERR-ROW th   { color: <tmpl_var InvalidColor>; }
#C .ERR-ROW td * { background: #FFC; color: <tmpl_var InvalidColor>; }
/*(db2)Bugzilla/edit ONLY:*/
#C .ERR-ROW td p, #C .ERR-ROW td dl * { background: <tmpl_var BackgroundColor>; }/*:hack(db2)*/
/*(db2)HTML::PopupTreeSelect:*/
#C .ERR-ROW .hpts-outer, #C .ERR-ROW .hpts-outer * { background: <tmpl_var BackgroundColor>; color: <tmpl_var TextColor>; }
#C .ERR-ROW .hpts-title { background: <tmpl_var DarkColor>; color: <tmpl_var LightTextColor>; }
#C .ERR-ROW .hpts-label-selected a { background: <tmpl_var LightColor>; color: <tmpl_var TextColor>; }
#C .ERR-ROW .hpts-bbar { background: <tmpl_var BrightColor>; color: <tmpl_var TextColor>; }
#C .ERR-ROW .hpts-button { background: <tmpl_var BorderColor>; color: <tmpl_var ButtonColor>; }


/* !!!!!!!!!!!!! CORRALLED INLINE STYLE BLOCKS -- TEMPORARY !!!!!!!!!!!!! */


/*(db2)from all over:*/
#C td.down { color: #8B0000; white-space: nowrap; }
#C td.up   { color: #006400; white-space: nowrap; }

/*(db2)ReportMailing/domain_stats.tmpl:*/
#C #domain_stats_table td.down { color: #006400; }
#C #domain_stats_table td.up   { color: #8B0000; }

