html { background: #333; color: #FFF; }
body { background: url("/images/bkg-body.gif") repeat-y; width: 974px; margin: 0 auto; padding: 0; font: 11px/1 "Helvetica Neue",arial,helvetica,sans-serif; }
#H   { background: #360 url("/images/bkg-header.jpg") no-repeat; position: relative; height: 105px; margin: 0 7px; }
#M   { background: #FFF url("/images/bkg-midriff.gif") repeat-y; color: #000; min-height: 420px; margin: 0 7px; border: 1px solid #D4D4D4; border-width: 1px 0; }
#S   { width: 178px; margin: 20px 0; }
#C   { float: right; width: 740px; margin: 20px; }
#F   { background: url("/images/bkg-footer.gif") no-repeat; padding: 0 7px 31px; }


a                 { background-color: inherit; color: #690; font-weight: bold; text-decoration: none; }
a:hover, a:active { background-color: #FF9; color: #360; }
a:focus           { outline: none; }/*:FF borks layout otherwise(db2)*/
a img             { border: 0; }


#H h1, #H #instance_logo { position: absolute; top: 10px; }
#H h1 { left: 20px; margin: 0; font-size: 1em; }
#H #instance_logo { right: 20px; }

#H ul.nav, #F ul.nav { color: #666; height: 2.28em; list-style: none; margin: 0; padding: 0 20px; text-align: right; }
#H ul.nav            { background: #DDD url("/images/bkg-header-nav.gif") repeat-x; position: absolute; bottom: 0; left: 180px; right: 0; }
#F ul.nav            { background: #E1E1E1 url("/images/bkg-footer-nav.gif") 0 100% repeat-x; margin-left: 180px; }
#H .nav li    , #F .nav li     { display: -moz-inline-box; display: inline-block; border-left: thin solid #CCC; }
#H .nav li.l  , #F .nav li.l   { border-right: thin solid #CCC; }
#H .nav a     , #F .nav a      { height: 2.28em; display: block; padding: 0 10px; line-height: 2.28; cursor: default; }
#H .nav a span, #F .nav a span { color: #666; font-weight: normal; }


#F div { background: #360 url("/images/bkg-footer-grass.jpg") no-repeat; height: 65px; max-height: 65px; }


#C h2 { background-color: inherit; color: #369; margin: 20px 20px 0; border-bottom: thin solid #CEE7FF; font: normal 2.72em Georgia,serif; text-transform: uppercase; letter-spacing: 1px; word-spacing: 3px; }

#C p.err { background-color: inherit; color: <tmpl_var InvalidColor>; margin: 20px 30px -20px; font-weight: bold; font-size: 1.25em; }

#C form   { margin: 40px 30px; padding: 0; }
#C form p { margin: 0 0 10px; font-size: 1em; }

#C p label       { width: 6em; display: -moz-inline-box; display: inline-block; background-color: inherit; color: #666; font-weight: bold; }
#C p input       { background-color: #FFF; color: #000; width: 18em; padding: .25em; font-size: 1em; }
#C p input:focus { background-color: #FF9; color: #000; }

#C .btn       { margin: 20px 0 0; padding: 0 0 0 6em; line-height: 2.16; }
#C .btn input { background-color: #690; color: #FFF; width: auto; overflow: visible; border: thin solid #360; border-width: 0 thin thin 0; padding: .35em .7em; font-size: 1.27em; line-height: 1; font-weight: bold; }

