<tmpl_include header.tmpl>

<script type="text/javascript">
//Krang.onload( function() {
//  Krang.Help.set( '' );
//} );
</script>

<h2>
<tmpl_if story_id>
  Story
<tmpl_else><tmpl_if media_id>
  Media
<tmpl_else><tmpl_if template_id>
  Template
</tmpl_if></tmpl_if></tmpl_if>
Log
</h2>

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

<form name="return_form" action="<tmpl_var escape=html return_script>" method="post">

<tmpl_var return_hidden>

<div class="panel lame capped">
<input value="Return" type="submit" class="west">
</div>

</form>

<tmpl_include footer.tmpl>

