<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'desk_admin' );
} );

<tmpl_if existing_desk_loop>
  delete_selected = function()
  {
    if ( !Krang.row_checked( 'current_desk_form', 'desk_delete_list' ) )
      alert( 'Nothing selected to delete!' );
    else if ( confirm( 'Are you SURE you want to delete these Desks?' ) )
      Krang.form_submit('current_desk_form', {}, { to_top: false });
  }

  reorder = function()
  {
    Krang.form_submit('current_desk_form', { rm: 'reorder' }, {}, { to_top: false });
  }
</tmpl_if>
</script>

<h2>
Desk Editor
</h2>

<h3>
Current Desks
</h3>

<tmpl_unless existing_desk_loop>

  <p>
  No Desks Found
  </p>

<tmpl_else>

  <form name="current_desk_form" action="desk_admin.pl" method="post">

  <input name="rm" value="delete" type="hidden">
  <input name="total_desks" value="<tmpl_var escape=html total_desks>" type="hidden">

  <table class="list select_row" summary="">

  <colgroup>
  <col class="series">
  <col>
  <col class="tick">
  </colgroup>

  <thead>
  <tr>
  <th class="series">Order</th>
  <th>Name</th>
  <th class="tick"><input name="checkallbox" value="1" onclick="Krang.check_all(this,'desk_delete_list')" type="checkbox"></th>
  </tr>
  </thead>

  <tbody><tmpl_loop existing_desk_loop>
    <tr>
    <td class="series"><select name="order_<tmpl_var escape=html desk_id>" onchange="Krang.update_order(this,'order_')"><tmpl_loop desk_count_loop>
      <option value="<tmpl_var escape=html count>"<tmpl_if selected> selected</tmpl_if>><tmpl_var escape=html count></option>
    </tmpl_loop></select></td>
    <td><tmpl_var escape=html name></td>
    <td class="tick"><input name="desk_delete_list" value="<tmpl_var escape=html desk_id>" type="checkbox"></td>
    </tr>
  </tmpl_loop></tbody>

  </table>

  <div class="panel">
  <input value="Reorder" onclick="reorder()" type="button" class="west">
  <input value="Delete" onclick="delete_selected()" type="button">
  </div>

  </form>

</tmpl_unless>

<form name="add_desk_form" action="desk_admin.pl" method="post">

<input name="rm" value="add" type="hidden">

<h3>
Add New Desk
</h3>

<table summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tr class="demi<tmpl_if no_name> ERR-ROW</tmpl_if>">
<th>Name</th>
<td><input name="name" value="<tmpl_var escape=html name>"></td>
</tr>

<tr class="last">
<th>Order</th>
<td><tmpl_var order_selector><!--:markup--></td>
</tr>

</table>

<div class="panel">
<input value="Add Desk" type="submit">
</div>

</form>

<tmpl_include footer.tmpl>

